
<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>
  
  <div id="tools">
    <!-- Search bar  -->
    <form action="/inv/search" method="get" class="search-form">
      <input type="text" name="searchTerm" placeholder="Search vehicles..." required>
      <button type="submit">Search</button>
    </form>

    <% if (locals.loggedin) { %>
      <span class="welcome-msg">
        <span class="welcome-text">WELCOME</span>
        <span class="user-name"><%= locals.accountData.account_firstname %></span>
      </span>
      <a href="/account/logout" title="Click to log out">Logout</a>
    <% } else { %>
      <a href="/account/login" title="Click to log in">My Account</a>
    <% } %>
    
  </div>
</header>