/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}


/* Genaral  */
body{
  background-image: url('/images/site/small_check.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#wrapper {
  background-color: white;
  border: 2px #73C8D2 solid;
  margin: 2rem auto;
  padding: 2rem;
  min-height: 100vh;
  width: 90%;
  border-radius: 5px;

}

/* ---------------------------------------- */
/* Header  */
/* ---------------------------------------- */

.siteName a {
  text-decoration: none;
  color: #000;
}

#top-header {
  display: flex;
}
#tools {
  margin-left: 700px;
}

#tools a {
  text-decoration: none;
  color: #000;

}

/* ---------------------------------------- */
/* Navigation  */
/* ---------------------------------------- */

nav {
  background-color: #000;
  margin: 1rem;
}

.nav-links ul {
  display: flex;
  padding: 0.5rem;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
}
/* ---------------------------------------- */
/* Index  */
/* ---------------------------------------- */

/* Hero section */
.card {
  background-color: rgba(242, 242, 242, 0.5);
  color: #73C8D2;
  /* border: 2px black solid; */
  width: 200px;
  padding: 10px;
  /* text-align: center; */
  border-radius: 5px;
  z-index: 10;
  position: relative;
  margin-right: -100px;
}
.card a img{
  width: 80%;
}

.hero {
  display: flex;
  justify-content: center;
  margin: 2rem;
  align-items: center;
}

/* Car Details Section  */
.deloreon-info {
  display: flex;
  justify-content: space-between;
}

.upgrades {
  margin: 2rem;
  width: 50%;
}

.upgrade-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.upgrade-items .item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #73C8D2;
  border: 1px solid;
  padding: 1rem;
}

.upgrade-items .item a {
  padding: 0.5rem;
}

.reviews {
  margin: 2rem;
  width: 40%;
}

.reviews ul li {
  padding: 1rem;
}



/* ---------------------------------------- */
/* Responsiveness */
/* ---------------------------------------- */

/* Small Screens  */
@media screen and (max-width: 480px) {
    .nav-links ul {
        flex-direction: column;
        align-items: stretch; 
    }

    .nav-links ul li {
        margin: 5px 0;
        text-align: center;
    }
    
    .upgrade-items {
        grid-template-columns: 1fr; 
        gap: 15px;
    }
}


@media screen and (max-width: 768px) {
    #wrapper {
        width: 95%;
        padding: 1rem;
        margin: 1rem auto; 
    }
    
    #top-header {
        flex-direction: column; 
        align-items: center;
    }

    #tools {
        margin: 0;
        padding-top: 0.5rem;
    }

    .hero {
        flex-direction: column; 
        margin: 1rem; 
    }
    
    .hero img {
        max-width: 100%; 
        height: auto;
    }

    .card {
        width: 90%;
        max-width: 300px; 
        position: static; 
        margin: -50px auto 0 auto; 
        z-index: 10; 
    }

    .deloreon-info {
        flex-direction: column;
    }

    .upgrades,
    .reviews {
        width: 100%;
        margin: 1rem 0; 
    }
}
