<!-- The Content Heading  -->
<% if (title) { %>
    <h1><%= title %></h1>
<% } else { %>
    <h1>Classification</h1>
<% } %>


<!-- A message block  -->
 <%# messages() %> <!--(#) disables this code-->

 <!-- The Inventory Items Display  -->
<%- grid %> <!--Allows HTML to be displayed-->