<!-- The Content Heading  -->
 <% if (title) { %> <!-- determines if the title variable exists -->
<h1><%= title %></h1>
<% } else {
    res.redirect('/') <!-- redirects the response object to the default index route, to deliver the home view -->
} %>

<!-- A message block  -->
 <%# messages() %> <!--(#) disables this code-->

 <!-- The Inventory Items Display  -->
<%- grid %> <!--Allows HTML to be displayed-->