<h1><%= title %></h1>

<%- messages() %>

<div class="management-links">
    
    <ul>
        <li>
            <a href="/inv/add-classification">Add New Classification</a>
        </li>
        <li>
            <a href="/inv/add-inventory">Add New Vehicle</a>
        </li>
    </ul>
</div>

<h2>Manage Inventory</h2>
<p>Choose a classification to see those inventory items.</p>
<%- classificationSelect %>

<!-- where inventory items returned from the controller will be displayed. -->
<table id="inventoryDisplay"></table>    

<!-- will display a message if JavaScript is disabled  -->
<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>
