<!-- Use the layout automatically -->
<!-- <%- include('../partials/header') %> -->

<h1 class="error-title"><%= title %></h1>

<!-- Display the error message passed from the controller -->
<div class="error-message">
  <%- message %>
</div>

<!-- <%- include('../partials/footer') %> -->
